p{
  font-size: 37px;
}


#esimeneAken{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 340px;
  width: 350px;
  transform: translate(-50%,-50%);
  padding: 16px;
  background-image:  url("stars-2560x1440-4k-6347.jpg");
  z-index: 1002;
  overflow: auto;
  text-align:center;
  font-family: 'Gloria Hallelujah', cursive;
  text-shadow: 4px 4px 4px #aaa;
}


.marker{
  font-size:50px;
}


body{
  background-image:  url("stars-2560x1440-4k-6347.jpg");
 
}
@-moz-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-moz-transform: scale(0);
	}
}
@-webkit-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		-webkit-transform: scale(1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
}

#teade{
  top: 50%;
  font-size: 30px;
  color: white;
  text-align:center;
  font-family: 'Gloria Hallelujah', cursive;
  
}
#vqrk{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%,-50%);
  text-align:center;
  padding: 0px;
  font-size: 60px;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  
}

.vqrguAsukoht{
  width:  100px;
  height: 100px;
  /*border: solid 2px red;*/
  margin: 0px;
}

#a0, #a1, #a2, #a3, #a4, #a5{
  border-bottom: solid 7px #9E9FC7;
}

#a1, #a2, #a4, #a5, #a7, #a8{
  border-left: solid 7px #9E9FC7;
}

#voitKuvame{
  font-size: 20px;
  -webkit-animation: blurFadeIn 2s ease-in backwards;
  -moz-animation: blurFadeInOut 3s ease-in backwards;
  margin-top: 10px;
  transform: translate(-10px);
}

button{
  border: 4px solid white;
  border-radius: 12px;
  background-color: inherit;
  font-size: 15px;
}
